<main class="content">
    <mat-card>
        <mat-card-content *ngIf="!loading">
            <form [formGroup]="form" (ngSubmit)="onSubmit($event.submitter.id)">
                <h2>Log In</h2>
                <mat-error *ngIf="loginInvalid">
                    The username and password were not recognised
                </mat-error>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Username" formControlName="username" required>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                        formControlName="password" required>
                    <button id="hide-password" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <section id="actions">
                    <button mat-button id="sign-up">Sign Up</button>
                    <button mat-raised-button color="primary" id="login">Login</button>
                </section>
            </form>
        </mat-card-content>
        <mat-spinner *ngIf="loading"></mat-spinner>
    </mat-card>
</main>
