html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    main.content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .right-aligned-header > .mat-content {
        justify-content: space-between;
    }
    
    .mat-content > mat-panel-title, .mat-content > mat-panel-description {
      flex: 0 0 auto;
      min-width: 40%;
    }
}
